(
    pos: Some(Top),
    noicons: Some(false),
    backgrund: Some("#22222222"),
    foregrund: Some("#bbbbbb"),
    iconcolor: Some("#229922"),
    widgets: (
        left: Some([
            (
                wtype: Workspaces,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: ActiveWindow,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
        ]),
        center: Some([
            (
                wtype: CLOCK,
                callback: None,
                cmd: None,
                format: Some("<span foreground=\'#229922\'>\u{f073} </span><span foreground=\'#bbbbbb\'>%d/%m/%Y </span><span foreground=\'#229922\'>\u{f1a30} </span><span foreground=\'#bbbbbb\'>%a </span><span foreground=\'#229922\'>\u{f144e} </span><span foreground=\'#bbbbbb\'>%H:%M </span>"),
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
        ]),
        right: Some([
            (
                wtype: CPU,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Battry,
                callback: None,
                cmd: None,
                format: Some("<span foreground=\'#229922\'>{icon}</span><span foreground=\'#bbbbbb\'>load time</span>"),
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Alsa,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Disk,
                callback: None,
                cmd: Some("/"),
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Disk,
                callback: None,
                cmd: Some("/home"),
                format: None,
                tooltip: None,
                icon: Some(" \u{f015} "),
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Wireless,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: RAM,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Temps,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
            (
                wtype: Script,
                callback: None,
                cmd: None,
                format: None,
                tooltip: None,
                icon: None,
                replace_with_icons: None,
                animate: None,
                warning: None,
            ),
        ]),
    ),
)
